# Python
__pycache__/
src/__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# PyInstaller
*.manifest
*.spec

# OS files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Mac system files
*.DS_Store

# Windows system files
Desktop.ini
$RECYCLE.BIN/

# Linux
*~

# Logs
logs/

# Reports
reports/

etc/config.ini.bak
etc/config.ini
